{
  "extends": "stylelint-config-recommended",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extend",
          "ignores",
          "include",
          "mixin",
          "if",
          "else",
          "content",
          "function",
          "return"
        ]
      }
    ],
    "comment-empty-line-before": "always",
    "block-closing-brace-empty-line-before": "never",
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "number-leading-zero": null,
    "selector-attribute-operator-space-after": "never",
    "selector-pseudo-element-colon-notation": "single",
    "unit-whitelist": [ "em", "rem", "s", "%", "px", "deg", "ms" ],
    "value-list-comma-newline-after": null
  }
}