  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.bundle.js"></script>
  <script src="/js/application.bundle.js"></script>

<script type="text/javascript">


$('#pet-type-dog').click(function(){
	$('#catInfo').collapse('hide'); 
	$('#dogInfo').collapse('show');  
});

$('#pet-type-cat').click(function(){
	$('#dogInfo').collapse('hide');  
	$('#catInfo').collapse('show'); 
});

$('#pre-existing-condition-yes').click(function(){
  $('#pet-condition').collapse('show');  
});
$('#pre-existing-condition-no').click(function(){
  $('#pet-condition').collapse('hide');  
});

// conditions

$("#conditionSelect").change(function() {
  let select = $("#conditionSelect option:selected").val();
  // create a pill
  // append pill to condition list
  $( '.conditions' ).append( `<div class="pill--condition">${select} <span class="close">x</span></div>` );

  checkForConditions();
});

function checkForConditions() {
  $('.pill--condition .close').on('click', function(evt){
    evt.preventDefault();
    evt.currentTarget.parentNode.remove();
  })
}

$('#postcode-search').click(function(evt){
  evt.preventDefault();
  $('#postcode-result').collapse('toggle');  
});

$('.postcodes a').on('click', function(evt){
  evt.preventDefault();
  $('#address').collapse('show');
  $('#postcode-result').collapse('hide'); 
  $('#manualaddress').collapse('hide'); 
})

</script>