  <section class="mt-5">
    <h3 class="d-none">Customer Service</h3>
    <h3 class="d-none">Info</h3>

    <section class="card mb-5 border-0 rounded-0 shadow p-3 mb-5 bg-white" style="border-left: 11.11px solid rgba(90,167,0,1) !important;">
        <h3>20% off for all new customers</h3>
        <p>Get the best deal online</p>
        <p>This will automatcally get added</p>
    </section>

    <section class="card mb-5 border-0">
      <div class="rating">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <p style="display:inline" class="rating__value">4.7/5</p>
      </div>
      <p>Independent service rating based on 1311 verified reviews</p>
      <hr class="mt-0 bg-dark">
      <div class="clearfix">
        <img class="img-fluid" src="/images/feefo.png" alt="Feefo logo" style="width:150px">
        <a href="" class="rating__reviews float-right">Read all reviews</a>
      </div>
    </section>
  </section>