
        <section>
          <h6 class="cover-level__h6">Select your level of cover</h6>

          <ul class="nav nav-underlines justify-content-around mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">£2000 Cover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">£4250 Cover</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="cover-level border">

                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p class="">Vetinary fees <br>up to <span class="font-weight-bold">£2000</span></p>
                    <p><span class="font-weight-bold">£4,250</span> per policy year, subject to a maximum of <span class="font-weight-bold">£1,000</span> per condition per year</p>
                  </div>
                  <button type="button" class="cover-level__info" data-toggle="modal" data-target="#exampleModalCenter">i</button>
                </div>

                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Excess <br>of <span class="font-weight-bold">£99</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Death from Illness <br>up to <span class="font-weight-bold">£500</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Death from Accident <br>up to <span class="font-weight-bold">£500</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Advertising and reward <br>up to <span class="font-weight-bold">£500</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Theft or straying <br>up to <span class="font-weight-bold">£500</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Boarding kennel fees <br>up to <span class="font-weight-bold">£500</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Holiday cancellation <br>up to <span class="font-weight-bold">£500</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p>Overseas travel <br>up to <span class="font-weight-bold">30 days</span></p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
                <div class="cover-level__item rounded-0 text-center">
                  <div class="cover-level__body">
                    <p><span class="font-weight-bold">£29.11</span>/month <br><span class="font-weight-bold">£349.36</span>/year</p>
                  </div>
                  <div class="cover-level__info">i</div>
                </div>
              </div>

              <button class="btn btn-primary--alt btn-block rounded-0">Select £2000 Lifetime Cover</button>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="cover-level__level">
                <p>Vetinary fees up to £4250</p>

                <p>£4,250 per policy year, subject to a maximum of £1,000 per condition per year</p>

                <p>Excess of £99</p>

                <p>Death from Illness up to £500</p>

                <p>Death from Accident up to £500</p>

                <p>Advertising and reward up to £500</p>

                <p>Theft or straying up to £500</p>

                <p>Boarding kennel fees up to £500</p>

                <p>Holiday cancellation up to £500</p>

                <p>Overseas travel up to 30 days</p>

                <p>£29.11/month £349.36/year</p>
              </div>
              <button class="btn btn-primary--alt btn-block rounded-0">Select £4250 Lifetime Cover</button>
            </div>
          </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 pb-0">
                <span>Lifetime £4250</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <small>close</small>
                  <span aria-hidden="true"> &times;</span>
                </button>

              </div>
              <div class="modal-header modal-header--alt">
                <h5 class="modal-title modal-title--alt" id="exampleModalCenterTitle">Death from Accident</h5>
              </div>
              <div class="modal-body">
                <p>The purchase price of your pet up to a maximum of £1,000 if it dies or in the event of humane destruction by a vet to alleviate incurable and inhumane suffering following an illness or disease.</p>
                <p>Exclusions:</p>
                <p>If no purchase receipt is available, replacement cost will be that of a similar pet.</p>
                <p>Any claims for a pet under age of six weeks.</p>
                <p>Any claim if the death results from an injury that happened before your pet’s cover started.</p>
              </div>
            </div>
          </div>
        </div>