        <div class="form-group">
          <label class="form-control-label" for="pet-name">What's your pet's name?</label>
          <input class="form-control rounded-0" type="text" id="pet-name">
        </div><!-- form-group -->