        <div class="form-group">
          <label class="form-control-label mt-2" for="">Is your pet neutered?</label>
          <small class="form__help mb-1">Once insured, if this changes just let us know.</small>
          <div class="form-check-flex">
            <div class="custom-control custom-radio form-check-inline radio-button-box">
              <input class="custom-control-input radio-button-box__input" type="radio" name="neutered" id="neutered-no" value="neutered" required>
              <label class="form-check-label radio-button-box__label radio-button-box__label--single-line" for="neutered-no"><span>Neutered</span></label>
              <div class="invalid-feedback">
                Please select whether your pet has been neutered.
              </div>
            </div><!-- form-check -->

            <div class="custom-control custom-radio form-check-inline radio-button-box">
              <input class="custom-control-input radio-button-box__input" type="radio" name="neutered" id="neutered-yes" value="not-neutered" required>
              <label class="form-check-label radio-button-box__label radio-button-box__label--single-line" for="neutered-yes"><span>Not neutered</span></label>
            </div><!-- form-check -->
          </div>
        </div><!-- form-group -->