        <div class="form-group">
          <label class="form-control-label mt-2" for="">Is your pet neutered?</label>
          <small class="form__help mb-1">Once insured, if this changes just let us know.</small>
          <div class="form-check-flex">
            <div class="form-check form-check-inline form-check-radio">
              <input class="form-check-input form-check-input--box" type="radio" name="neutered" id="neutered-no" value="neutered">
              <label class="form-check-label radio-box radio-box--alt1" for="neutered-no"><span>Neutered</span></label>
            </div><!-- form-check -->

            <div class="form-check form-check-inline form-check-radio">
              <input class="form-check-input form-check-input--box" type="radio" name="neutered" id="neutered-yes" value="not-neutered">
              <label class="form-check-label radio-box radio-box--alt1" for="neutered-yes"><span>Not neutered</span></label>
            </div><!-- form-check -->
          </div>
        </div><!-- form-group --> 