        <div class="form-group">
          <label class="form-control-label mt-1" for="">Is your pet a dog or a cat?</label>
          <div class="form-check-flex">
            <div class="form-check form-check-inline radio-button-box radio-button-box--icon">
              <input class="form-check-input radio-button-box__input" type="radio" name="pet-type" id="pet-type-dog" value="Dog" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="dogInfo">
              <label class="form-check-label radio-button-box__label radio-button-box__label--icon" for="pet-type-dog"><span>Dog</span></label>
            </div><!-- form-check -->

            <div class="form-check form-check-inline radio-button-box radio-button-box--icon">
              <input class="form-check-input radio-button-box__input" type="radio" name="pet-type" id="pet-type-cat" value="Cat" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="catInfo">
              <label class="form-check-label radio-button-box__label radio-button-box__label--icon" for="pet-type-cat"><span>Cat</span></label>
            </div><!-- form-check -->
          </div>

          <div class="collapse mt-4 mb-4" id="dogInfo">
            <div class="card card-body pet-information border-0 rounded-0 shadow p-3 mb-3 bg-white">
              <h6>Important information</h6>
              <div class="pet-information__body">
                <p class="mb-0">Healthy Pets does not cover:</p>
                <ul>
                  <li class="pet-information__item"><span>dogs that have been used for commercial guard, security or racing</span></li>
                  <li class="pet-information__item"><span>dogs that have shown aggressive tendencies/behavioural issues</span></li>
                  <li class="pet-information__item"><span>dogs that have had any pet related 3rd party claims</span></li>
                </ul>
              </div>
            </div><!-- card-->

            {% block formcheckbox %}
            {% import '../macros/form-checkbox-long.njk' as formCheckboxLong %}
            {{ formCheckboxLong.field({
                'id':'termsAgreement',
                'label': 'I understand and agree to these terms'
              })
            }}
            {% endblock %}

            <label class="form-control-label mt-3" for="">What type of dog do you have?</label>

              <div class="form-check mb-0 pl-0">
                <label class="form-check-label custom-radio" for="dog-type1">Crossbreed
                  <input class="form-check-input" type="radio" name="dog-type" id="dog-type1" value="option1" data-toggle="collapse" href="#collapse-dog" role="button" aria-expanded="false" aria-controls="collapse-dog">
                  <span class="checkmark"></span>
                  <small class="form__help mb-1">Parents are different breeds</small>
                </label>
              </div><!-- form-check -->

              <div class="form-check mb-3 pl-0">
                <label class="form-check-label custom-radio" for="dog-type2">Mongrel
                  <input class="form-check-input" type="radio" name="dog-type" id="dog-type2" value="option2">
                  <span class="checkmark"></span>
                  <small class="form__help mb-1">Parents are three breeds or more</small>
                </label>
              </div><!-- form-check -->

              <div class="form-check mb-2 pl-0">
                <label class="form-check-label custom-radio" for="dog-type3" style="width: 97%;">
                  <input class="form-check-input" type="radio" name="dog-type" id="dog-type3" value="option3">
                  <span class="checkmark"></span>
                  <select class="form-control rounded-0" id="exampleFormControlSelect1">
                    <option>Find your dog's breed</option>
                    <option>German</option>
                    <option>German Longhaired Pointer</option>
                    <option>German pinscher</option>
                    <option>German Pointer</option>
                  </select>
                </label>
              </div><!-- form-check -->

              <div class="collapse mt-4" id="collapse-dog">
                <div class="card card-body border-0 pet-size">
                  <h6>Pet size</h6>

                  <div class="form-check-flex mt-1">

                    {% block formdogsizeContent %}
                    {% import '../macros/form-radio-image.njk' as formdogsize %}
                    {{ formdogsize.field({
                        'id':'small-dog',
                        'image': '/images/small-dog.png',
                        'name' : 'dog-size',
                        'value': 'Small dog',
                        'size': 'Small',
                        'weight': '0-10kg',
                        'width': '80px'
                      })
                    }}

                    {{ formdogsize.field({
                        'id':'medium-dog',
                        'image': '/images/medium-dog.png',
                        'name' : 'dog-size',
                        'value': 'Medium dog',
                        'size': 'Medium',
                        'weight': '10-20kg',
                        'width': '80px'
                      })
                    }}

                    {{ formdogsize.field({
                        'id':'large-dog',
                        'image': '/images/large-dog.png',
                        'name' : 'dog-size',
                        'value': 'Large dog',
                        'size': 'Large',
                        'weight': '20+kg',
                        'width': '88px'
                      })
                    }}

                    {% endblock %}

                  </div>

                </div>
              </div><!-- collapse -->
          </div><!-- collapse -->

          <div class="collapse mt-4 mb-4" id="catInfo">

            <label class="form-control-label" for="">What type of cat do you have?</label>

            <div class="form-check mb-3 pl-0">

              <label class="form-check-label custom-radio" for="cat-type1">Mixed breed
                <input class="form-check-input" type="radio" name="cat-type" id="cat-type1" value="option1">
                <span class="checkmark"></span>
                <small class="form__help mb-1">Parents are different breeds</small>
              </label>
            </div><!-- form-check -->

            <div class="form-check mb-3 pl-0">

              <label class="form-check-label custom-radio" for="cat-type2">Moggie
                <input class="form-check-input" type="radio" name="cat-type" id="cat-type2" value="option2">
                <span class="checkmark"></span>
                <small class="form__help mb-1">Parents are three breeds or more</small>
              </label>
            </div><!-- form-check -->

            <div class="form-check mb-2 pl-0">
              <label class="form-check-label custom-radio" for="cat-type3" style="width: 97%;">
                <input class="form-check-input" type="radio" name="cat-type" id="cat-type3" value="option3">
                <span class="checkmark"></span>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Find your cat's breed</option>
                  <option>Type 1</option>
                  <option>Type 2</option>
                  <option>Type 3</option>
                  <option>Type 4</option>
                </select>
              </label>
            </div><!-- form-check -->
          </div><!-- collapse -->

        </div><!-- form-group -->