{% block chosenPolicyContent %}
{% import '../macros/chosen-policy.njk' as chosenPolicy %}
{{ chosenPolicy.data( {
        'marginBottom': 'mb-4',
        'state': 'form',
        'name': 'Bobby',
        'breed': 'German Shepherd',
        'age':'3 yrs',
        'cover': 'lifetime',
        'cost':'£2000',
        'excess': '£99',
        'brdColour':'lifetime-brd-color'
      }
    )
  }}

{{ chosenPolicy.data( {
        'marginBottom': 'mb-4',
        'state': 'form',
        'name': 'Poppy',
        'breed': 'Rusian Blue',
        'age':'6 yrs',
        'cover': 'maximum',
        'cost':'£4250',
        'excess': '£99',
        'brdColour':'maximum-brd-color'
      }
    )
  }}

{{ chosenPolicy.data( {
        'marginBottom': 'mb-4',
        'state': 'form',
        'name': 'Bobby',
        'breed': 'German Shepherd',
        'age':'3 yrs',
        'cover': 'accident',
        'cost':'£7500',
        'excess': '£99',
        'brdColour':'accident-brd-color'
      }
    )
  }}
{% endblock %}


<section>
  <div class="cost-group">
    <p class="cost-group__header">Total monthly cost</p>
    <p class="cost-group__cost">£58.22</p>
  </div>
  <div class="cost-group">
    <p class="cost-group__header">20% new customer discount</p>
    <p class="cost-group__cost">-£11.64</p>
  </div>

  <hr class="mb-4">

  <div class="cost-group">
    <h5 class="cost-group__header--total">Total including <br>20% discount</h5>
    <div class="">
      <p class="cost-group__total-item">£37.78</p>
      <small class="cost-group__period">per month</small>
      <p class="mb-2 font-weight-bold">OR</p>
      <p class="cost-group__total-item">£466.12</p>
      <small class="cost-group__period">per year</small>
    </div>
  </div>

</section>