        <div class="form-group">
          <label class="form-control-label mt-2" for="">Does your pet have pre-existing conditions?</label>
          <small class="form__help mb-1">In the event of a claim, any sign or symptom that started before the policy start date would be excluded.</small>
          <div class="form-check-flex">
            <div class="form-check form-check-inline form-check-radio">
              <input class="form-check-input form-check-input--box" type="radio" name="pre-existing-condition" id="pre-existing-condition-yes"" value="neutered" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pet-condition">
              <label class="form-check-label radio-box" for="pre-existing-condition-yes""><span>Yes</span></label>
            </div><!-- form-check -->

            <div class="form-check form-check-inline form-check-radio">
              <input class="form-check-input form-check-input--box" type="radio" name="pre-existing-condition" id="pre-existing-condition-no" value="not-neutered">
              <label class="form-check-label radio-box" for="pre-existing-condition-no"><span>No</span></label>
            </div><!-- form-check -->
          </div><!-- form-check-flex -->

          <div class="collapse mt-4 mb-4" id="pet-condition">

            <label class="form-control-label" for="">What conditions does your pet have?</label>

            <select class="form-control rounded-0" id="conditionSelect">
              <option>Add a condition</option>
              <option>Diabetes</option>
              <option>Eczema</option>
              <option>Condition 3</option>
              <option>Condition 4</option>
            </select>

            <div class="conditions mt-2"></div>
          </div><!-- collapse -->
        </div><!-- form-group --> 