        <div class="form-group">
          <label class="form-control-label mt-2" for="">What's your pets sex?</label>
          <div class="form-check-flex">
            <div class="custom-control icon-radio form-check-inline radio-button-box">
              <input class="custom-control-input radio-button-box__input" type="radio" name="gender" id="gender-male" value="Male" required>
              <label class="custom-control-label form-check-label radio-button-box__label radio-button-box__label--single-line" for="gender-male"><span>Male</span></label>
              <div class="invalid-feedback">
                Please select your pet's sex.
              </div>
            </div><!-- form-check -->

            <div class="custom-control icon-radio form-check-inline radio-button-box">
              <input class="custom-control-input radio-button-box__input" type="radio" name="gender" id="gender-female" value="Female" required>
              <label class="custom-control-label form-check-label radio-button-box__label radio-button-box__label--single-line" for="gender-female"><span>Female</span></label>
            </div><!-- form-check -->
          </div>
        </div><!-- form-group -->