        <div class="form-group">
          <label class="form-control-label mt-2" for="">What's your pets sex?</label>
          <div class="form-check-flex">
            <div class="form-check form-check-inline form-check-radio">
              <input class="form-check-input form-check-input--box" type="radio" name="gender" id="gender-male" value="Male">
              <label class="form-check-label radio-box radio-box--alt1" for="gender-male"><span>Male</span></label>
            </div><!-- form-check -->

            <div class="form-check form-check-inline form-check-radio">
              <input class="form-check-input form-check-input--box" type="radio" name="gender" id="gender-female" value="Female">
              <label class="form-check-label radio-box radio-box--alt1" for="gender-female"><span>Female</span></label>
            </div><!-- form-check -->
          </div>
        </div><!-- form-group -->    