{% block header %}
{% include './partials/header.njk' %} {% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8supporthtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% include './partials/menu.njk' %} {% endblock %}

<div class="container">
  <section class="mt-4 mb-3">
    <h2 style="font-weight:normal;color: rgba(0,59,92,1);font-family: 'Open Sans'; font-size: 42px;line-height: 57px;">Hello World</h2>
  </section>

  {% block customerservice %}
  {% include './partials/customer-service.njk' %} {% endblock %}

</div><!-- container -->

{% block corejavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}