{% block headerContent %}
{% import './macros/header.njk' as header %}
{{ header.title('') }}
{% endblock %}
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8SupportHtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% import './macros/menu.njk' as menu %}
{{ menu.data('home') }}
{% endblock %}

<div class="container">
  <section class="mt-4 mb-3">
    <h2 class="h2">Flat Templates</h2>

    <div class="list-group list-group--content">
      <a class="list-group-item list-group-item-action" href="/retrieve-a-quote.html">Retrieve a quote</a>
      <a class="list-group-item list-group-item-action" href="/pet-details.html">Pet Details</a>
      <a class="list-group-item list-group-item-action" href="/pet-details-other.html">Pet Details with added pet</a>
      <a class="list-group-item list-group-item-action" href="/pet-details-complete.html">Pet Details Complete</a>
      <a class="list-group-item list-group-item-action" href="/your-details.html">Your Details</a>
      <a class="list-group-item list-group-item-action" href="/your-quote.html">Your Quote</a>
      <a class="list-group-item list-group-item-action" href="/policy-summary.html">Policy Summary</a>
      <a class="list-group-item list-group-item-action" href="/policy-details.html">Policy Details</a>
      <a class="list-group-item list-group-item-action" href="/payment-default.html">Payment Default</a>
      <a class="list-group-item list-group-item-action" href="/payment-complete.html">Payment Complete</a>
    </div>
  </section>

  {% block customerService %}
  {% import './macros/customer-service.njk' as customerService %}
  {{ customerService.provision({
    'discount': true,
    'feefo': true
  })}}
  {% endblock %}

</div><!-- container -->

{% block coreJavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}