{% extends "master-summary.njk" %}

{% block title %}Policy Summary{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}payment{% endblock %}

{% block containerSize%}container--md{% endblock %}

{% block customHeader %}
<div class="policy-summary__header d-flex justify-content-between d-block d-lg-none">
  <h2 class="mt-0">Policy summary</h2>
  <p>£37.78<small>/month</small></p>
</div>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col">
    <div class="content-frame">

      <fieldset class="mt-0 mb-0">
        <legend></legend>

        <div class="form-group" style="/*min-height: 120px;*/">
          <label class="form-control-label mt-2" for="">How regularly do you want to pay?</label>
          <div class="form-check-flex">
            <div class="custom-control form-check form-check-inline radio-button-box">
              <input class="custom-control-input form-check-input radio-button-box__input" type="radio" name="regular-pay" id="regular-pay-monthly" value="monthly" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="direct-debit-details" required>
              <label class="custom-control-label form-check-label radio-button-box__label radio-button-box__label--double-line" for="regular-pay-monthly"><span>Monthly</span><span>£37.79</span></label>
              <small class="form__help mt-2" style="text-align:center;"><a href="" style="text-decoration:none;">Free direct debiting</a></small>
              <div class="invalid-feedback">
                Please select how regularly you want to pay.
              </div>
            </div><!-- form-check -->

            <div class="form-check form-check-inline radio-button-box">
              <input class="custom-control-input form-check-input radio-button-box__input" type="radio" name="regular-pay" id="regular-pay-annually" value="annually" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="payment-type" required>
              <label class="custom-control-label form-check-label radio-button-box__label radio-button-box__label--double-line" for="regular-pay-annually"><span>Annually</span><span>£466.12</span></label>
            </div><!-- form-check -->
          </div>
        </div><!-- form-group -->

        <div class="collapse mt-5" id="payment-type">
          <div class=" form-group">
            <label class="form-control-label mt-2" for="">How would you like to pay?</label>
            <div class="form-check-flex">

              <div class="custom-control form-check form-check-inline radio-button-box">
                <input class="custom-control-input form-check-input radio-button-box__input" type="radio" name="payment-type" id="payment-type-debit" value="debit" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="credit-card-details">

                <label class="custom-control-label form-check-label radio-button-box__label radio-button-box__label--single-line" for="payment-type-debit"><span>Direct Debit</span></label>
                <small class="form__help mt-2" style="text-align:center;"><a href="" style="text-decoration:none;">Free direct debiting</a></small>
                <div class="invalid-feedback">
                  Please select how you would like to pay.
                </div>
              </div><!-- form-check -->

              <div class="form-check form-check-inline radio-button-box">
                <input class="custom-control-input form-check-input radio-button-box__input" type="radio" name="payment-type" id="payment-type-credit" value="credit" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="credit-card-details">

                <label class="custom-control-label form-check-label radio-button-box__label radio-button-box__label--single-line" for="payment-type-credit"><span>Credit/Debit Card</span></label>
              </div><!-- form-check -->
            </div>
          </div><!-- form-group -->


          <div class="collapse mt-4 mb-4" id="credit-card-details">

            <div class="form-group mb-4">
              <label class="form-control-label" for="card-name">Name on Card</label>
              <input class="form-control rounded-0" type="text" id="card-name">
              <div class="invalid-feedback">
                Please enter the name on the card.
              </div>
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label" for="card-number-pt1">Card Number</label>
              <div class="form-group--account-number d-flex">
                <input class="form-control rounded-0" maxlength="4" type="text" id="card-number-pt1">
                <input class="form-control rounded-0" maxlength="4" type="text" id="card-number-pt2">
                <input class="form-control rounded-0" maxlength="4" type="text" id="card-number-pt3">
                <input class="form-control rounded-0" maxlength="4" type="text" id="card-number-pt4">
                <div class="invalid-feedback">
                  Please enter the card number.
                </div>
              </div>
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label mt-2 mb-0" for="expiry-date">Expiry date</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend input-group-prepend--date mt-2">
                  <div class="input-group-text" style="height: 45px;"><img class="img__calendar" src="/images/calendar.svg" alt=""></div>
                </div>
                <input class="form-control rounded-0 mt-2 form__input--short" type="date" id="expiry-date" placeholder="dd/mm/yyyy" size="25">
                <div class="invalid-feedback">
                  Please enter the card expiry date.
                </div>
              </div>
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label" for="ccv">CCV</label>
              <input class="form-control rounded-0 form-control--ccv" type="text" maxlength="3" id="ccv" onkeypress="return isNumberKey(event)">
              <div class="invalid-feedback">
                Please enter the card CCV number.
              </div>
            </div><!-- form-group -->

            <p class="h6 mt-4 font-weight-bold">Billing address</p>
            <p> 1 Street Name, Town, Postcode</p>
            <p><a href="">Edit address</a>
          </div><!-- collapse -->

        </div><!-- collapse -->


        <div class="collapse mt-5 mb-4" id="direct-debit-details">

          <p class="h5 mb-4">Your direct debit will come out on the <strong>5th of the month</strong></p>
          <div class="form-group mb-4">
            <label class="form-control-label" for="account-name">Account holder's name</label>
            <input class="form-control rounded-0" type="text" id="account-name">
            <div class="invalid-feedback">
              Please enter the account holder's name.
            </div>
          </div><!-- form-group -->

          <div class="form-group">
            <label class="form-control-label" for="sort-code-pt1">Sort code</label>
            <div class="form-group--sortcode d-flex">
              <input class="form-control rounded-0" maxlength="2" type="text" id="sort-code-pt1">
              <input class="form-control rounded-0" maxlength="2" type="text" id="sort-code-pt2">
              <input class="form-control rounded-0" maxlength="2" type="text" id="sort-code-pt3">
              <div class="invalid-feedback">
                Please enter the sort code.
              </div>
            </div>
          </div><!-- form-group -->

          <div class="form-group">
            <label class="form-control-label" for="account-number">Account number</label>
            <input class="form-control rounded-0" type="number" id="account-number">
            <div class="invalid-feedback">
              Please enter the account number.
            </div>
          </div><!-- form-group -->

          <div class="card p-4">
            <div class="d-flex justify-content-around mb-3">
              <small>The Direct Debit Guarantee</small>
              <img src="/images/direct-debit.png" class="img-fluid" alt="Direct Bebit logo" style="width: 25%;height: 25%;">
            </div>
            <ul class="ml-0" style="padding-left: 1.5rem; font-size:0.9rem; font-weight:100;">
              <li>This Guarantee is offered by all Banks and Building Societies that accept instructions to pay Direct Debits. </li>
              <li>If there are any changes to the amount, date or frequency of your Direct Debit, Healthy Pets will notify you 10 working days in advance of your  </li>
              </ul>
          </div>

        </div><!-- collapse -->


        <div class="cost-group mt-5">
          <h5 class="cost-group__header--total">Total including <br>20% discount</h5>
          <div class="">
            <p class="cost-group__total-item">£37.78</p>
            <small class="cost-group__period">per month</small>
          </div>
        </div>

      </fieldset>
    </div><!-- content-frame -->

    <div class="row justify-content-between mt-md-5">
      <div class="col-lg-4 d-none d-lg-block">
        {% block backButton %}
        {% import './macros/next-button.njk' as backButton %}
        {{ backButton.nextStep('Back', 'payment-complete', 'outline') }}
        {% endblock %}
      </div>
      <div class="col-lg-4 mt-3 mt-md-0">
        {% block submitButton %}
        {% import './macros/submit-button.njk' as submitButton %}
        {{ submitButton.nextStep('Confirm & Pay', 'payment-complete') }}
        {% endblock %}
      </div>
    </div><!-- row -->

  </div><!-- col -->

  <div class="col-lg-5 d-none d-lg-block">
    <h2 class="mt-0 mb-4">Policy summary</h2>

    {% block policySummaryContent %}
    {% include './partials/policy-summary-content.njk' %} {% endblock %}

    <section class="card mt-5 border-0 bg-transparent">
      <div class="feefo-rating">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <p class="feefo-rating__value">4.7/5</p>
      </div>
      <p>Independent service rating based on 1311 verified reviews</p>
      <hr class="mt-0 bg-dark">
      <div class="clearfix">
        <img class="img-fluid" src="/images/feefo.png" alt="Feefo logo" style="width:100px">
        <a href="" class="feefo-rating__link float-right">Read all reviews</a>
      </div>
    </section>

  </div><!-- col -->

</div><!-- row -->
{% endblock %}

{% block footer %}
  <div class="d-block d-lg-none">
    {% block customerSecurity %}
    {% include './partials/thwate.njk' %} {% endblock %}

    {% block customerService %}
    {% import './macros/customer-service.njk' as customerService %}
    {{ customerService.provision({
      'discount': false,
      'feefo': true
    })}}
    {% endblock %}
  </div>
{% endblock %}
