{% extends "master-summary.njk" %}

{% block title %}Policy Summary{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}complete{% endblock %}

{% block customHeader %}{% endblock %}

{% block containerSize%}container--md{% endblock %}

{% block main %}

<div class="row">
  <div class="col">
    <div class="content-frame">

      <h3 class="mb-4">Your purchase is complete</h3>

      <div class="confirmation-sent">
        <p>We’ve sent a confirmation email to  user@user.com</p>

        <p>Your policy documents will be sent to you by email and post within 5 days.</p>

        <p class="font-weight-bold">You will be covered from your policy start date</p>

        <p class="font-weight-bold mb-0">Policy start date</p>
        <p>03/06/2018</p>

        <p class="font-weight-bold mb-0">First payment</p>
        <p>05/07/2018</p>

        <p class="font-weight-bold mb-0">Policy number</p>
        <p>6654120025489</p>
      </div>

      {% block chosenPolicyContent %}
      {% import './macros/chosen-policy.njk' as chosenPolicy %}
      {{ chosenPolicy.data( {
            'marginBottom': 'mb-2',
            'state': 'paid',
            'name': 'Booby',
            'breed': 'German Shpherd',
            'age':'3 yrs',
            'cover': 'lifetime',
            'cost':'£2000',
            'brdColour':'lifetime-brd-color'
          }
        )
      }}

      {{ chosenPolicy.data( {
            'marginBottom': 'mb-2',
            'state': 'paid',
            'name': 'Poppy',
            'breed': 'Rusian Blue',
            'age':'6 yrs',
            'cover': 'maximum',
            'cost':'£4250',
            'brdColour':'maximum-brd-color'
          }
        )
      }}
      {% endblock %}

    </div><!-- content-frame -->

  </div><!-- col -->

  <div class="col-lg-4">

    <h4>Questions?</h4>

    <p>Open 8am-8pm Mon-Fri</p>
    <p><a href="tel:01730 268 592">01730 268 592</a></p>

    <p><a href="mailto:heretohelp@healthypets.com">heretohelp@healthypets.com</a></p>
  </div></!-- col -->

</div><!-- row -->

{% endblock %}

{% block footer %}{% endblock %}