{% block headerContent %}
{% import './macros/header.njk' as header %}
{{ header.title('Policy Summary') }}
{% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8SupportHtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% import './macros/menu.njk' as menu %}
{{ menu.data('payment complete') }}
{% endblock %}

<div class="container">
  <section class="mt-4 mb-4">

    {% block progressBar %}
    {% import './macros/progress-bar-summary.njk' as progressBar %}
    {{ progressBar.activeStep('', false) }}
    {% endblock %}

    <h3 class="mb-4">Your purchase is complete</h3>

    <div class="confirmation-sent">
      <p>We’ve sent a confirmation email to  user@user.com</p>

      <p>Your policy documents will be sent to you by email and post within 5 days.</p>

      <p class="font-weight-bold">You will be covered from your policy start date</p>

      <p class="font-weight-bold mb-0">Policy start date</p>
      <p>03/06/2018</p>

      <p class="font-weight-bold mb-0">First payment</p>
      <p>05/07/2018</p>

      <p class="font-weight-bold mb-0">Policy number</p>
      <p>6654120025489</p>
    </div>

    {% block chosenPolicyContent %}
    {% import './macros/chosen-policy.njk' as chosenPolicy %}
    {{ chosenPolicy.data( {
          'marginBottom': 'mb-2',
          'state': 'paid',
          'name': 'Booby',
          'breed': 'German Shpherd',
          'age':'3 yrs',
          'cover': 'lifetime',
          'cost':'£2000',
          'brdColour':'lifetime-brd-color'
        }
      )
    }}

    {{ chosenPolicy.data( {
          'marginBottom': 'mb-2',
          'state': 'paid',
          'name': 'Poppy',
          'breed': 'Rusian Blue',
          'age':'6 yrs',
          'cover': 'maximum',
          'cost':'£4250',
          'brdColour':'maximum-brd-color'
        }
      )
    }}
    {% endblock %}

  </section>

  <h5>Questions?</h5>

  <p>Open 8am-8pm Mon-Fri</p>
  <p>01730 268 592</p>

  <p>heretohelp@healthypets.com</p>

</div><!-- container -->

{% block coreJavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}