{% block headerContent %}
{% import './macros/header.njk' as header %}
{{ header.title('Pet Details') }}
{% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8supporthtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% import './macros/menu.njk' as menu %}
{{ menu.data('pet details') }}
{% endblock %}

<div class="container">
  <section class="mt-4 mb-3">

    {% block progressBar %}
    {% import './macros/progress-bar.njk' as progressBar %}
    {{ progressBar.activeStep('pet-details') }}
    {% endblock %}

    <section class="card pet-summary mb-3 rounded-0 shadow bg-white">
      <h5 class="pet-summary__header">Bobby, German Shepherd, 3 yrs</h5>
      <div class="pet-summary__items">
        <a class="pet-summary__link" href="">Edit Bobby's Info</a>
        <a class="pet-summary__link" href="">Delete</a>
      </div>
    </section>

    <h2 class="mt-0 mb-0">Enter your pet's details</h2>
    <form action="">
      <fieldset class="form-group mt-0 mb-0">
        <legend></legend>

        {% block name %}
        {% include './partials/name.njk' %} {% endblock %}

        {% block dob %}
        {% include './partials/dob.njk' %} {% endblock %}

        {% block pettype %}
        {% include './partials/pet-type.njk' %} {% endblock %}

        {% block sex %}
        {% include './partials/sex.njk' %} {% endblock %}

        {% block neutered %}
        {% include './partials/neutered.njk' %} {% endblock %}

        {% block donation %}
        {% include './partials/donation.njk' %} {% endblock %}

        {% block preexisitngcondition %}
        {% include './partials/pre-existing-condition.njk' %} {% endblock %}

      </fieldset><!-- fieldset -->

      <button class="btn btn-outline-primary btn-outline-primary--alt btn-block rounded-0" type="submit">+ Add another pet</button>

      <a class="btn btn-outline-primary btn-outline-primary--alt btn-block rounded-0" href="/pet-details.html" style="text-decoration:none;">Cancel pet</a>

      {% block nextButton %}
      {% import './macros/next-button.njk' as nextButton %}
      {{ nextButton.nextStep('Next', 'pet-details-complete') }}
      {% endblock %}

    </form>
  </section>

  {% block customerservice %}
  {% import './macros/customer-service.njk' as customerService %}
  {{ customerService.provision({
    'discount': true,
    'feefo': true
  })}}
  {% endblock %}

</div><!-- container -->

{% block corejavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}