{% block header %}
{% include './partials/header.njk' %} {% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8supporthtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% include './partials/menu.njk' %} {% endblock %}

<div class="container">
  <section class="mt-4 mb-3">

    {% block progressBar %}
    {% import './macros/progress-bar.njk' as progressBar %}
    {{ progressBar.activeStep('pet-details') }}
    {% endblock %}

    <section class="card card--pet-details mb-3 rounded-0 shadow bg-white">
      <h5>Bobby, German Shepherd, 3 yrs</h5>
      <div class="card-action">
        <a href="">Edit Bobby's Info</a>
        <a href="">Delete</a>
      </div>
    </section>

    <h2 class="mt-0 mb-0">Enter your pet's details</h2>
    <form action="">
      <fieldset class="form-group mt-0 mb-0">
        <legend></legend>

        {% block name %}
        {% include './partials/name.njk' %} {% endblock %}

        {% block dob %}
        {% include './partials/dob.njk' %} {% endblock %}

        {% block pettype %}
        {% include './partials/pet-type.njk' %} {% endblock %}

        {% block sex %}
        {% include './partials/sex.njk' %} {% endblock %}

        {% block neutered %}
        {% include './partials/neutered.njk' %} {% endblock %}

        {% block donation %}
        {% include './partials/donation.njk' %} {% endblock %}

        {% block preexisitngcondition %}
        {% include './partials/pre-existing-condition.njk' %} {% endblock %}

      </fieldset><!-- fieldset -->

      <button class="btn btn-outline-primary btn-outline-primary--alt btn-block rounded-0" type="submit">+ Add another pet</button>

      <button class="btn btn-outline-primary btn-outline-primary--alt btn-block rounded-0" type="submit">Cancel pet</button>

      <a class="btn btn-outline-primary btn-primary--alt btn-block rounded-0 mt-4" href="/pet-details-complete.html" style="text-decoration:none;">Next</a>

    </form>
  </section>

  {% block customerservice %}
  {% include './partials/customer-service.njk' %} {% endblock %}

</div><!-- container -->

{% block corejavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}