{% extends "master.njk" %}

{% block title %}Pet Details{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}pet-details{% endblock %}

{% block containerSize%}container--md{% endblock %}

{% block newPet %}
<section class="card pet-summary rounded-0 shadow bg-white">
  <h5 class="pet-summary__header">Bobby, German Shepherd, 3 yrs</h5>
  <div class="pet-summary__items">
    <a class="pet-summary__link" href="">Edit Bobby's Info</a>
    <a class="pet-summary__link" href="">Delete</a>
  </div>
</section>
{% endblock %}

{% block main %}
<div class="content-frame">
  <h2 class="h2 mt-0 mb-0">Enter your pet's details</h2>
  <fieldset class="form-group mt-0 mb-0">
    <legend></legend>

    {% block name %}
    {% include './partials/name.njk' %} {% endblock %}

    {% block dob %}
    {% include './partials/pet-dob.njk' %} {% endblock %}

    {% block petType %}
    {% include './partials/pet-type.njk' %} {% endblock %}

    {% block sex %}
    {% include './partials/sex.njk' %} {% endblock %}

    {% block neutered %}
    {% include './partials/neutered.njk' %} {% endblock %}

    {% block donation %}
    {% include './partials/donation.njk' %} {% endblock %}

    {% block preExisitngCondition %}
    {% include './partials/pre-existing-condition.njk' %} {% endblock %}

  </fieldset><!-- fieldset -->
</div><!-- content-frame -->

<div class="row justify-content-end mt-md-5">

  <div class="col-md-3 col-lg-3 align-self-start mr-auto">
    <a class="btn btn-outline-primary btn-outline-primary--alt btn--block rounded-0 mt-4 mt-md-0" href="/pet-details.html">Cancel pet</a>
  </div>

  <div class="col-md-3 col-lg-3">
    <button class="btn btn-outline-primary btn-outline-primary--alt btn--block rounded-0" type="submit">+ Add another pet</button>
  </div>

  <div class="col-md-3 col-lg-2 mt-3 mt-md-0">
    {% block submitButton %}
    {% import './macros/submit-button.njk' as submitButton %}
    {{ submitButton.nextStep('Next', 'pet-details-complete') }}
    {% endblock %}
  </div>
</div><!-- row -->

{% endblock %}

{% block footer %}
{% import './macros/customer-service.njk' as customerService %}
{{ customerService.provision({
  'discount': true,
  'feefo': true
})}}
{% endblock %}
