{% block headerContent %}
{% import './macros/header.njk' as header %}
{{ header.title('Policy Summary') }}
{% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8supporthtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% include './partials/menu.njk' %} {% endblock %}

<div class="container">
  <section class="mt-4 mb-3">
    <div class="policy__header">
      <h2 class="mt-0 mb-4">Policy summary</h2>
      <p>£37.78<small>/month</small></p>
    </div>

    {% block progressBar %}
    {% import './macros/progress-bar-summary.njk' as progressBar %}
    {{ progressBar.activeStep('summary') }}
    {% endblock %}

    <p>Your details <a href="">edit details</a></p>

    <p>Name: Mrs User User</p>
    <p>Birthday: 02/06/1985</p>
    <p>Home Address: 1 Long Lane, Southwark, SE1 4PD, London, England</p>
    <p>Phone number: 07912345678</p>
    <p>Email: user@user.com</p>

Policy start date

<small class="form__help">You can pick a date up 30 days in the future.</small>

Immediately

How would you like your policy documents delivered to you?

A hard copy by post
A digital copy by email
Both

Please carefully read and agree to the following statements:

	• 	I confirm that the responses I have provided are accurate and I understand that providing inaccurate responses may affect the premium I pay and any claims settlement. If incorrect responses have been provided Healthy Pets may reduce or not make the claim payment and/or cancel the policy.
	• 	I understand that if after reading the policy I wish to cancel, I may do so by notifying Healthy Pets within 14 days, starting from the day I receive the policy documentation, without any charge providing I have not made a claim.
	• 	I am a resident of the United Kingdom
	• 	I am the owner and keeper and the pet is kept in the United Kingdom
	• 	I have never had any pet policy covering this pet declared void or cancelled
	• 	I accept that this policy will not cover anything that is caused by, relates to, or results from an illness, disease or injury which my pet had before the policy cover start date.
	• 	I accept that this policy will not cover anything that is caused by, relates to, or results from an illness, disease or injury which arises within the first 10 days of the first period of insurance of this policy.
	• 	Vaccinable illness or conditions if vaccinations are not kept up to date.

I have read and agreed to the above statements

Healthy Pets is part of the Ardonagh Group. If you would like to receive the latest offers on selected financial and related products and services from Healthy Pets and the Ardonagh Group, please choose how you would like us to contact you:

Mail
Phone
Text
Email

  </section>

  {% block nextButton %}
  {% import './macros/next-button.njk' as nextButton %}
  {{ nextButton.nextStep('Next', 'policy-details-monthly') }}
  {% endblock %}

  {% block customerservice %}
  {% import './macros/customer-service.njk' as customerService %} 
  {{ customerService.provision({
    'discount': true,
    'feefo': true
  })}}
  {% endblock %}

</div><!-- container -->

{% block corejavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}