{% extends "master.njk" %}

{% block title %}Policy Summary{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}policy-summary{% endblock %}

{% block containerSize%}container--md{% endblock %}

{% block main %}

<div class="content-frame">
  <h2 class="mt-0 mb-4">Your policy summary</h2>

  {% block policySummaryContent %}
  {% include './partials/policy-summary-content.njk' %} {% endblock %}

</div><!-- content-frame -->

<div class="row justify-content-end mt-md-5">
  <div class="col-md-4 col-lg-4 mt-3 mt-md-0">
    {% block nextButton %}
    {% import './macros/next-button.njk' as nextButton %}
    {{ nextButton.nextStep('Go to secure checkout', 'policy-details') }}
    {% endblock %}
  </div>
</div><!-- row -->
{% endblock %}

{% block footer %}
{# {% include './partials/thwate.njk' %} #}

{% import './macros/customer-service.njk' as customerService %}
{{ customerService.provision({
  'discount': false,
  'feefo': false
})}}
{% endblock %}
