{% block headerContent %}
{% import './macros/header.njk' as header %}
{{ header.title('Policy Summary') }}
{% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8supporthtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% import './macros/menu.njk' as menu %}
{{ menu.data('policy summary') }}
{% endblock %}

<div class="container">
  <section class="mt-4 mb-3">
    <h2 class="mt-0 mb-4">Your policy summary</h2>

    {% block chosenPolicyContent1 %}
    {% import './macros/chosen-policy.njk' as chosenPolicy %}
    {{ chosenPolicy.data( {
          'marginBottom': 'mb-4',
          'state': 'form',
          'name': 'Booby',
          'breed': 'German Shpherd',
          'age':'3 yrs',
          'cover': 'lifetime',
          'cost':'£2000',
          'brdColour':'lifetime-brd-color'
        }
      )
    }}

    {% import './macros/chosen-policy.njk' as chosenPolicy %}
    {{ chosenPolicy.data( {
          'marginBottom': 'mb-4',
          'state': 'form',
          'name': 'Poppy',
          'breed': 'Rusian Blue',
          'age':'6 yrs',
          'cover': 'maximum',
          'cost':'£4250',
          'brdColour':'maximum-brd-color'
        }
      )
    }}

    {% import './macros/chosen-policy.njk' as chosenPolicy %}
    {{ chosenPolicy.data( {
          'marginBottom': 'mb-4',
          'state': 'form',
          'name': 'Booby',
          'breed': 'German Shpherd',
          'age':'3 yrs',
          'cover': 'accident',
          'cost':'£4250',
          'brdColour':'accident-brd-color'
        }
      )
    }}
    {% endblock %}

  </section>

  <section>
    <div class="cost-group">
      <p class="cost-group__header">Total monthly cost</p>
      <p class="cost-group__cost">£58.22</p>
    </div>
    <div class="cost-group">
      <p class="cost-group__header">20% new customer discount</p>
      <p class="cost-group__cost">-£11.64</p>
    </div>

    <hr class="mb-4">

    <div class="cost-group">
      <h5 class="cost-group__header--total">Total including <br>20% discount</h5>
      <div class="">
        <p class="cost-group__total-item">£37.78</p>
        <small class="cost-group__period">per month</small>
        <p class="mb-2 font-weight-bold">OR</p>
        <p class="cost-group__total-item">£466.12</p>
        <small class="cost-group__period">per year</small>
      </div>
    </div>

  </section>

  <div class="mt-4">
    {% block nextButton %}
    {% import './macros/next-button.njk' as nextButton %}
    {{ nextButton.nextStep('Go to secure checkout', 'policy-details') }}
    {% endblock %}
  </div>

  {% block customersecurity %}
  {% include './partials/thwate.njk' %} {% endblock %}

  {% block customerservice %}
  {% import './macros/customer-service.njk' as customerService %}
  {{ customerService.provision({
    'discount': false,
    'feefo': true
  })}}
  {% endblock %}

</div><!-- container -->

{% block corejavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}