{% extends "master-summary.njk" %}

{% block title %}Policy Summary{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}summary{% endblock %}

{% block containerSize%}container--md{% endblock %}

{% block customHeader %}
<div class="policy-summary__header d-flex justify-content-between d-block d-lg-none">
  <h2 class="mt-0">Policy summary</h2>
  <p>£37.78<small>/month</small></p>
</div>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col">
    <div class="content-frame">

      <section>
        <h3 class="d-none">Your details</h3>
        <p class="font-weight-bold mt-5">Your details <a href="/your-details.html">edit details</a></p>

        <div class="customer-details">
          <p style="line-height:1.5rem;">Name: Mrs User User
          <br>Birthday: 02/06/1985
          <br>Home Address: 1 Long Lane, Southwark, SE1 4PD, London, England
          <br>Phone number: 07912345678
          <br>Email: user@user.com</p>
        </div>
      </section>
      <fieldset class="mt-0 mb-0">
        <legend>Policy details</legend>

        <label class="form-control-label mt-2">Policy start date</label>
        <small class="form__help">You can pick a date up 30 days in the future.</small>

        <div class="d-flex mb-2 flex-nowrap justify-content-between">

          <!-- TODO: need to join theese as a radio button -->

          <div class="input-group mb-2">
            <div class="input-group-prepend input-group-prepend--date mt-2">
              <div class="input-group-text" style="height: 45px;"><img class="img__calendar" src="/images/calendar.svg" alt=""></div>
            </div>
            <input class="form-control rounded-0 mt-2 form__input--short w-70" type="date" id="policy-start-date" placeholder="dd/mm/yyyy" required>
            <div class="invalid-feedback">
              Please enter the policy start date.
            </div>
          </div>

          <div class="form-group form-check mt-3 w-70">
            <label class="form-check-label custom-checkbox" for="policy-start-immediately">Immediately
              <input type="checkbox" class="form-check-input" id="policy-start-immediately">
              <span class="checkmark"></span>
            </label>
          </div>
        </div><!-- d-flex -->

        <label class="form-control-label mt-2" for="">Please carefully read and agree to the following statements:</label>

        <div class="form-group">
          <ul style="padding-left: 1.5rem;">
            <li>I confirm that the responses I have provided are accurate and I understand that providing inaccurate responses may affect the premium I pay and any claims settlement. If incorrect responses have been provided Healthy Pets may reduce or not make the claim payment and/or cancel the policy.</li>
            <li>I understand that if after reading the policy I wish to cancel, I may do so by notifying Healthy Pets within 14 days, starting from the day I receive the policy documentation, without any charge providing I have not made a claim.</li>
            <li>I am a resident of the United Kingdom</li>
            <li>I am the owner and keeper and the pet is kept in the United Kingdom</li>
            <li>I have never had any pet policy covering this pet declared void or cancelled</li>
            <li>I accept that this policy will not cover anything that is caused by, relates to, or results from an illness, disease or injury which my pet had before the policy cover start date.</li>
            <li>I accept that this policy will not cover anything that is caused by, relates to, or results from an illness, disease or injury which arises within the first 10 days of the first period of insurance of this policy.</li>
            <li>Vaccinable illness or conditions if vaccinations are not kept up to date.</li>
          </ul>

          {% block formCheckboxLong %}
          {% import './macros/form-checkbox-long.njk' as formCheckboxLong %}
          {{ formCheckboxLong.field({
              'id':'policy-agreement',
              'label': 'I have read and agreed to the above statements',
              'required': true,
              'invalid-feedback': 'Please agree to the above statements'
            })
          }}
          {% endblock %}

        </div>

        <label class="form-control-label mt-2" for="">Healthy Pets is part of the Ardonagh Group. If you would like to receive the latest offers on selected financial and related products and services from Healthy Pets and the Ardonagh Group, please choose how you would like us to contact you:</label>

        <div class="form-group">

          {% block formCheckboxContact %}
          {% import './macros/form-checkbox-long.njk' as formCheckboxContact %}
          {{ formCheckboxContact.field({
              'id':'contact-mail',
              'label': 'Mail',
              'required': false
            })
          }}

          {{ formCheckboxContact.field({
              'id':'contact-phone',
              'label': 'Phone',
              'required': false
            })
          }}

          {{ formCheckboxContact.field({
              'id':'contact-text',
              'label': 'Text',
              'required': false
            })
          }}

          {{ formCheckboxContact.field({
              'id':'contact-email',
              'label': 'Email',
              'required': false
            })
          }}

          {% endblock %}

        </div><!-- form-group -->

      </fieldset>
    </div><!-- content-frame -->

    <div class="row justify-content-end mt-md-4">
      <div class="col-md-4 col-lg-4 mt-3 mt-md-0">
        {% block submitButton %}
        {% import './macros/submit-button.njk' as submitButton %}
        {{ submitButton.nextStep('Next', 'payment-default') }}
        {% endblock %}
      </div>
      </div><!-- row -->

  </div><!-- col -->

  <div class="col-lg-4 d-none d-lg-block">
    <h2 class="mt-0 mb-4">Policy summary</h2>

    {% block policySummaryContent %}
    {% include './partials/policy-summary-content.njk' %} {% endblock %}

    <section class="card mt-5 border-0 bg-transparent">
      <div class="feefo-rating">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <p class="feefo-rating__value">4.7/5</p>
      </div>
      <p>Independent service rating based on 1311 verified reviews</p>
      <hr class="mt-0 bg-dark">
      <div class="clearfix">
        <img class="img-fluid" src="/images/feefo.png" alt="Feefo logo" style="width:100px">
        <a href="" class="feefo-rating__link float-right">Read all reviews</a>
      </div>
    </section>

  </div><!-- col -->
</div><!-- row -->

{% endblock %}

{% block footer %}{% endblock %}