{% extends "master.njk" %}

{% block title %}Retrieve A Quote{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}retrieve-a-quote{% endblock %}

{% block containerSize%}container--md{% endblock %}

{% block main %}

<div class="content-frame">
  <h2 class="h2">Retrieve a quote</h2>
  <fieldset class="form-group mt-3">
    <legend></legend>

    <div class="form-group has-danger">
      <label class="form-control-label" for="pet-name">Your pet's name</label>
      <input class="form-control rounded-0" type="text" id="pet-name" required>
      <div class="invalid-feedback">
        Please enter your pet's name.
      </div>
    </div><!-- form-group -->

    <div class="form-group">
      <label class="form-control-label" for="surname">Your surname</label>
      <input class="form-control rounded-0" type="text" id="surname" required>
      <div class="invalid-feedback">
        Please enter your surname.
      </div>
    </div><!-- form-group -->

    <div class="form-group">
      <label class="form-control-label" for="postcode">Your postcode</label>
      <input class="form-control rounded-0" type="text" id="postcode" required>
      <div class="invalid-feedback">
        Please enter your postcode.
      </div>
    </div><!-- form-group -->
  </fieldset><!-- fieldset -->
</div><!-- content-frame -->

<div class="row justify-content-end mt-md-5">
  <div class="col-md-3 col-lg-3 mt-3 mt-md-0">
    {% block submitButton %}
    {% import './macros/submit-button.njk' as submitButton %}
    {{ submitButton.nextStep('Find quote', 'pet-details') }}
  {% endblock %}
  </div>
</div><!-- row -->
{% endblock %}

{% block footer %}
{% import './macros/customer-service.njk' as customerService %}
{{ customerService.provision({
  'discount': true,
  'feefo': true
})}}
{% endblock %}