{% extends "master.njk" %}

{% block title %}Your Quote{% endblock %}

{% block customStyles %}{% endblock %}

{% block pageId %}your-quote{% endblock %}

{% block containerSize%}container--lg{% endblock %}

{% block main %}

<h2 class="h2 mt-0 mb-0">Your quote for Bobby</h2>

<div class="">
  <small class="form__help mb-1 d-block d-md-none">Select from Lifetime, Maximum Benefit and Accident only cover</small>

  <fieldset class="form-group mt-0 mb-0">
    <legend>Types of cover</legend>

    <!-- mobile selection -->
    <div class="d-flex justify-content-between mb-3 d-block d-xl-none">
      <div class="card cover-item cover-item--lifetime rounded-0 shadow mr-1 mb-3 pt-2 bg-white">
        <a id="lifetime-link"
           href="#"
           style="text-decoration: none;color: inherit;"
           class="flex-grow-1 d-flex flex-column justify-content-between"
           data-toggle="collapse"
           aria-expand="false"
           aria-controls="lifetime-cover">
          <h6 class="cover-item__header">Lifetime Cover</h6>
          <p class="cover-item__price">from £29.11 / month</p>
        </a>
      </div><!-- card-->

      <div class="card cover-item cover-item--maximum rounded-0 shadow mr-1 mb-3 pt-2 bg-white">
        <a id="maximum-link"
           href="#"
           style="text-decoration: none;color: inherit;"
           class="flex-grow-1 d-flex flex-column justify-content-between data-toggle="
           collapse"
           aria-expand="false"
           aria-controls="maximum-cover"">
          <h6 class="
           cover-item__header">Maximun Benefit Cover</h6>
          <p class="cover-item__price">from £29.11 / month</p>
        </a>
      </div><!-- card-->

      <div class="card cover-item cover-item--accident rounded-0 shadow mb-3 pt-2 bg-white">
        <a id="accident-link"
           href="#"
           style="text-decoration: none;color: inherit;"
           class="flex-grow-1 d-flex flex-column justify-content-between data-toggle="
           collapse"
           aria-expand="false"
           aria-controls="accident-cover"">
          <h6 class="
           cover-item__header">Accident Only Cover</h6>
          <p class="cover-item__price">from £29.11 / month</p>
        </a>
      </div><!-- card-->
    </div><!-- d-flex -->

    <div class="row">

      <div class="col-xl cover collapse mt-2 mb-4"
           id="lifetime-cover">
        <div class="cover-info cover-info--lifetime pt-2">
          <small class="cover-info__prologue">Our most comprehensive cover</small>
          <h2 class="h1 cover-info__header mt-1">Lifetime Cover</h2>
          <small class="cover-info__price">from <span>£29.11/month</span></small>

          <p class="mt-3">All new conditions will be covered upto a limit. When the limit is reached, the policy no
            longer covers you until it is renewed. </p>
          <p>When the policy is renewed, the limit is reinstated and you can claim for the same condition plus any
            additional new conditions. </p>
          <p class="font-weight-bold">Best for pets likely to develop ongoing conditions like diabetes or arthiritus.</p>

          <div class="d-flex justify-content-between">
            <ul class="cover-info__benefits--included">
              <li>Accidents</li>
              <li>Illness</li>
              <li>Cover for ongoing conditions for the pet’s lifetime</li>
            </ul>

            <ul class="cover-info__benefits--excluded">
              <li>Pre-existing conditions</li>
            </ul>
          </div>

          <div class="form-group form-group--alt p-4 bg-light-grayish-blue">
            <div class="input-group mb-2 flex-nowrap justify-content-between">
              <p class="aditional-cover">Available with vet fee cover from <span class="font-weight-bold">£2000</span>
                or <span class="font-weight-bold">£4250</span></p>
              <button class="btn btn-primary btn-primary--alt ml-2 form-control-alt rounded-0 btn--cover-level"
                      style="width: 45%;"
                      data-toggle="collapse"
                      data-target="#choose-lifetime-level"
                      role="button"
                      aria-expanded="false"
                      aria-controls="choose-level">Choose level</button>
            </div>
          </div>

          <div class="collapse"
               id="choose-lifetime-level">

            {% block coverSelectorLifetimeContent %}
            {% import './macros/cover-selector.njk' as coverSelector %}
            {{ coverSelector.type(
                {
                  'id': '01',
                  '1': '£2000',
                  '2': '£4250',
                  'cover': 'lifetime'
                }
              )
            }}
            {% endblock %}

          </div>

        </div><!-- cover-lifetime -->
      </div><!-- collapse -->

      <div class="col-xl cover collapse mt-2 mb-4"
           id="maximum-cover">
        <div class="cover-info cover-info--maximum pt-3">
          <small class="cover-info__prologue">Our most comprehensive cover</small>
          <h2 class="h1 cover-info__header mt-1">Maximum Benefit</h2>
          <small class="cover-info__price">from <span>£29.11/month</span></small>

          <p class="mt-3">Every new condition will be covered upto a limit. When the limit is reached, it will be
            considered a ‘pre-existing’ condition and you will no longer be covered for it. </p>
          <p>When the policy renews, you won’t be covered for any pre-existing conditions.</p>
          <p class="font-weight-bold">Best for covering accidents and illnesses that require one-off or short term
            treatment.</p>

          <div class="d-flex justify-content-between">
            <ul class="cover-info__benefits--included">
              <li>Accidents</li>
              <li>Illness</li>
              <li>Cover for ongoing conditions up to a financial limit</li>
            </ul>

            <ul class="cover-info__benefits--excluded">
              <li>Pre-existing conditions</li>
            </ul>
          </div>

          <div class="form-group form-group--alt p-4 bg-light-grayish-blue">
            <div class="input-group mb-2 flex-nowrap justify-content-between">
              <p class="aditional-cover">Available with vet fee cover from <span class="font-weight-bold">£2000</span>,
                <span class="font-weight-bold">£4250</span> or <span class="font-weight-bold">£7500</span></p>
              <button class="btn btn-primary btn-primary--alt ml-2 form-control-alt rounded-0 btn--cover-level"
                      type="submit"
                      style="width: 45%;"
                      data-toggle="collapse"
                      data-target="#choose-maximum-level"
                      role="button"
                      aria-expanded="false"
                      aria-controls="choose-level">Choose level</button>
            </div>
          </div>

          <div class="collapse"
               id="choose-maximum-level">

            {% block coverSelectorMaximumContent %}
            {% import './macros/cover-selector.njk' as coverSelector %}
            {{ coverSelector.type(
                {
                  'id': '02',
                  '1':'£2000',
                  '2':'£4250',
                  '3':'£7500',
                  'cover': 'maximum'
                }
              )
            }}
            {% endblock %}

          </div>
        </div><!-- cover-maximum -->
      </div><!-- collapse -->

      <div class="col-xl cover collapse mt-2 mb-4"
           id="accident-cover">
        <div class="cover-info cover-info--accident pt-3">
          <small class="cover-info__prologue">Our most comprehensive cover</small>
          <h2 class="h1 cover-info__header mt-1">Accident Only</h2>
          <small class="cover-info__price">from <span>£29.11/month</span></small>

          <p class="mt-3">Cover for vet fees, only as a result of a sudden or unexpected injury. </p>
          <p>Claim for upto 12 months from the start of the first treamtment</p>
          <p>Claim for an unlimited number of injuries and be covered up to the maximum amount for every injury.</p>
          <p class="font-weight-bold">Best for older pets that are not eligable for more comprehensive cover.</p>

          <div class="d-flex justify-content-between">
            <ul class="cover-info__benefits--included">
              <li>Accidents</li>
              <li>Cover for ongoing conditions for 12 months</li>
            </ul>

            <ul class="cover-info__benefits--excluded">
              <li>Illness</li>
              <li>Pre-existing conditions</li>
            </ul>
          </div>

          <div class="form-group form-group--alt p-4 bg-light-grayish-blue">
            <div class="input-group mb-2 flex-nowrap justify-content-between">
              <p class="aditional-cover">Available with vet fee cover from <span class="font-weight-bold">£1000</span></p>
              <button class="btn btn-primary btn-primary--alt ml-2 form-control-alt rounded-0 btn--cover-level"
                      type="submit"
                      style="width: 45%;"
                      data-toggle="collapse"
                      data-target="#choose-accident-level"
                      role="button"
                      aria-expanded="false"
                      aria-controls="choose-level">Choose level</button>
            </div>
          </div>

          <div class="collapse"
               id="choose-accident-level">

            {% block coverSelectorAccidentContent %}
            {% import './macros/cover-selector.njk' as coverSelector %}
            {{ coverSelector.type(
                {
                  'id': '03',
                  '4':'£1000',
                  'cover': 'accident'
                }
              )
            }}
            {% endblock %}

          </div>
        </div><!-- cover-accident -->
      </div><!-- collapse -->

    </div><!-- row -->

  </fieldset><!-- fieldset -->
</div><!-- content-frame -->

{% block modalContent %}
{% import './macros/modal.njk' as modal %}
{{ modal.info(
    {
      'price': '$100',
      'cover': 'NAS'
    }
  )
}}
{% endblock %}

{% endblock %}

{% block footer %}
{% import './macros/customer-service.njk' as customerService %}
{{ customerService.provision({
  'discount': true,
  'feefo': true
})}}
{% endblock %}

{% block customSscripts %}
<script src="/js/coverLevel.bundle.js"></script>
{% endblock %}
