{% block header %}
{% include './partials/header.njk' %} {% endblock %}

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom -->
  <link href="/css/styles.css" rel="stylesheet">

{% block ie8supporthtml %}
{% include './partials/ie8-support-html.njk' %} {% endblock %}

{% block menu %}
{% include './partials/menu.njk' %} {% endblock %}

<div class="container">
  <section class="mt-4 mb-3">

    {% block progressBar %}
    {% import './macros/progress-bar.njk' as progressBar %}
    {{ progressBar.activeStep('your-details') }}
    {% endblock %}

    <h2 class="mt-0 mb-0">Enter your details</h2>
    <form action="">
      <fieldset class="form-group mt-0 mb-0">
        <legend></legend>

        <div class="form-group">
          <label class="form-control-label" for="titleSelect">Title</label>
          <select class="form-control rounded-0" id="titleSelect">
            <option>Select</option>
            <option>Mr</option>
            <option>Mrs</option>
            <option>Miss</option>
            <option>Ms</option>
            <option>Dr</option>
          </select>
        </div><!-- form-group -->

        <div class="form-group">
          <label class="form-control-label" for="firstname">First name</label>
          <input class="form-control rounded-0" type="text" id="firstname">
        </div><!-- form-group -->

        <div class="form-group">
          <label class="form-control-label" for="lastname">Last name</label>
          <input class="form-control rounded-0" type="text" id="lastname">
        </div><!-- form-group -->

        <div class="form-group">
          <label class="form-control-label mt-2 mb-0" for="ownerdob">Your birthday</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend input-group-prepend--date mt-2">
              <div class="input-group-text" style="height: 45px;"><img class="img__calendar" src="/images/calendar.svg" alt=""></div>
            </div>
            <input class="form-control rounded-0 mt-2 form-control--short" type="date" id="ownerdob" placeholder="dd/mm/yyyy" size="25">
          </div>
        </div><!-- form-group -->

        <div class="form-group">
          <label class="form-control-label mt-2" for="postcode">Your postcode</label>
          <div class="input-group mb-2 flex-nowrap justify-content-between">
            <input class="form-control form-control--alt rounded-0" type="number" id="postcode">
            <button class="btn btn-primary btn-primary--alt form-control-alt rounded-0" type="submit" style="width: 45%;" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="postcode-search" id="postcode-search">Find address</button>
          </div>

          <div class="collapse mt-4 mb-4" id="postcode-result">
            <label class="form-control-label" for="">Select your address</label>

            <hr style="border: 1px solid rgba(61,112,178,1)">

            <div class="postcodes">
              <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">1, Street Name, Town, Postcode</a>
              <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">1, Street Name, Town, Postcode</a>
              <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">1, Street Name, Town, Postcode</a>
              <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">1, Street Name, Town, Postcode</a>
              <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">1, Street Name, Town, Postcode</a>
              <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">1, Street Name, Town, Postcode</a>
            </div>

          </div><!-- collapse -->

          <div class="collapse mt-4 mb-4" id="address">
            <div class="form-group">
              <label class="form-control-label" for="housenumber">House name/number</label>
              <input class="form-control rounded-0" type="number" id="housenumber">
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label" for="street">Street</label>
              <input class="form-control rounded-0" type="number" id="street">
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label" for="towncity">Town or City</label>
              <input class="form-control rounded-0" type="number" id="towncity">
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label" for="county">County</label>
              <input class="form-control rounded-0" type="number" id="county">
            </div><!-- form-group -->

          </div><!-- collapse -->

        </div><!-- form-group -->

        <div class="collapse show mt-4 mb-4" id="manualaddress">
          <div class="form-group">
            <a href="" class="enter-address" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="address">Enter address manually</a>
          </div><!-- form-group -->
        </div><!-- collapse -->

        <div class="form-group">
          <label class="form-control-label" for="phonenumber">Phone number</label>
          <input class="form-control rounded-0" type="number" id="phonenumber">
        </div><!-- form-group -->

        <div class="form-group">
          <label class="form-control-label" for="emailaddress">Email address</label>
          <input class="form-control rounded-0" type="email" id="emailaddress">
        </div><!-- form-group -->

      </fieldset><!-- fieldset -->

      <a href="/your-quote.html" style="text-decoration:none;" class="btn btn-outline-primary btn-primary--alt btn-block rounded-0 mt-4">Calculate quote</a>
    </form>
  </section>

  {% block customerservice %}
  {% include './partials/customer-service.njk' %} {% endblock %}

</div><!-- container -->

{% block corejavascript %}
{% include './partials/bootstrap-core-javascript.njk' %} {% endblock %}

{% block footer %}
{% include './partials/footer.njk' %} {% endblock %}