{% macro data(info) %}
{% if info.cover == 'lifetime' %}
  {% set cover = 'Lifetime'%}
{%elif info.cover == 'maximum' %}
  {% set cover = 'Max Ben'%}
{%elif info.cover == 'accident' %}
  {% set cover = 'Accident'%}
{% endif %}
    <section class="policy-summary {{ info.marginBottom }} ">
      <div class="card card--pet-details  mb-0 rounded-0 bg-white {{ info.brdColour }}">
        <p class="summary__complete"><span><i class="fas fa-check"></i></span></p>
        <h5>{{info.name}}, {{info.breed}}, {{info.age}}</h5>
        {% if info.state == 'form' %}
        <div class="card-action">
          <a href="">Edit Bobby's Info</a>
          <a href="">Delete</a>
        </div>
        {% endif %}
      </div>
      <div class="card mt-0 rounded-0" style="">
        <div class="card-pricing">
          <h5>{{cover}} {{info.cost}}</h5>
          <p class="summary__price">£29.11<small>/month</small></p>
        </div>
        {% if info.state == 'form' %}
        <a href="">Edit cover</a>
        {% endif %}
      </div>
    </section>
    {% if info.state == 'paid' %}
      <p><a href="">Download Policy documents</a></p>
    {% endif %}
{% endmacro %}