{% macro field(data) %}

  {% for item in data %}

    <div class="custom-control custom-radio custom-radio--image">
      <input class="custom-control-input custom-radio-input--image" type="radio" name="{{ item.name }}" id="{{ item.id }}" value="{{ item.value }}">
      <label class="custom-control-label" for="{{ item.id }}">
        <img src="{{ item.image }}" style="width: {{ item.width }};">
        {# <span class="checkmark checkmark--size"></span> #}
        <div class="pet-weight">
          <div>{{ item.size }}</div>
          <small class="form__help mb-1">{{ item.weight }}</small>
        </div><!-- dog-weight -->

        {% if loop.last %}
          <div class="invalid-feedback">
            {{ data["invalid-feedback"] }}
          </div>
        {% endif %}
      </label>

    </div><!-- custom-radio -->

  {% endfor %}

{% endmacro %}
