{% macro field (data) %}

  {% for item in data.items %}

    <div class="custom-control custom-radio mb-1">
      <input class="custom-control-input " type="radio" name="{{ item.name }}" id="{{ item.id }}" value="{{ item.value }}" required>
      <label class="custom-control-label" for="{{ item.id }}">
        {{ item.label }}
        {# <span class="checkmark"></span> #}
      </label>
      {% if loop.last %}
      <div class="invalid-feedback">
        {{ data["invalid-feedback"] }}
      </div>
      {% endif %}
    </div>

  {% endfor %}

{% endmacro %}