{% macro data(page='') %}
<nav class="navbar bg-header navbar-bright navbar-expand">
  <div class="container-fluid" style="height:67px;">

    <!-- Brand -->
    <a href="#" class="navbar-brand">
      <img src="/images/logo.png" style="width:150px;" alt="Healthy Pets logo">
    <span class="d-none">Healthy Pets</span></a>

    <!-- Telephone number -->
    <div class="navbar-nav">
      <a class="nav-item nav-link" style="font-size: 1.5rem; padding-right:0;" href="tel:01730268592">01730 268592</a>
    </div>
  </div><!-- container -->
</nav>

<nav class="navbar bg-sub-header navbar-bright navbar-expand" style="opacity: 0.8;">
  <div class="container-fluid" style="height: 47px;">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link">Claims</a>
      <a href="#" class="nav-item nav-link">Contact Us</a>
    </div><!-- navbar-nav -->

    <div class="navbar-nav">
      {% if page == 'home' %}
      <a href="/retrieve-a-quote.html" class="btn btn-lg btn-cta rounded-0" role="button">Get a quote</a>
      {% endif %}
    </div><!-- navbar-nav -->
  </div><!-- container -->
</nav>

{% endmacro %}