{% macro data(page='') %}
<nav class="navbar bg-header navbar-bright navbar-expand">
  <div class="container-fluid" style="height:67px;">

    <!-- Brand -->
    <a href="#" class="navbar-brand">
      <picture class="logo">
        <source class="logo__desktop" media="(min-width: 768px)" srcset="/images/logo-large.png">
        <source class="logo__mobile" media="(min-width: 576px)" srcset="/images/logo.png">
        <img src="/images/logo.png" class="mt-3 img-fluid logo" alt="Healthy Pets logo">
      </picture>
    <span class="d-none">Healthy Pets</span></a>

    <div class="login d-flex flex-column">
      <form class="form-inline justify-content-end d-none d-md-flex">
        <label class="form-control-label">Retrieve a quote</label>
        <input class="form-control-input bg-light" type="text" placeholder="Email address" aria-label="Email address">
        <input class="form-control-input bg-light" type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline" type="submit">Go</button>
      </form>
      <!-- Telephone number -->
      <div class="navbar-nav">
        <span class="d-none d-md-block call-text">Call us:</span><a class="nav-item nav-link phone-number" href="tel:01730268592">01730 268592</a>
      </div>
    </div>

  </div><!-- container -->
</nav>

<nav class="navbar bg-sub-header navbar-bright navbar-expand">
  <div class="container-fluid justify-content-md-end" style="height: 47px;">
    <div class="navbar-nav">
      <a href="#" class="d-none d-md-block nav-item nav-link">Home</a>

      <div class="dropdown">
        <a href="#" class="d-none d-md-block nav-item nav-link dropdown-toggle" id="insureYourPetDropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Insure Your Pet</a>
        <div class="dropdown-menu" aria-labellby="insureYourPetDropdown">
          <a href="/Get-a-Quote" class="dropdown-item" title="Get a Quote for Pet Insurance"> Get a Quote </a>
          <a href="/How-Do-We-Compare" class="dropdown-item" title="How Do We Compare? for Pet Insurance"> How Do We Compare? </a>
          <a href="/Policy-Benefits" class="dropdown-item" title="Policy Benefits for Pet Insurance"> Policy Benefits </a>
          <a href="/Policy-summary" class="dropdown-item" title="Policy summary for Pet Insurance"> Policy summary </a>
          <a href="/Specimen-Policy" class="dropdown-item" title="Specimen Policy for Pet Insurance"> Specimen Policy </a>
          <a href="/Terms-of-Business" class="dropdown-item" title="Terms of Business for Pet Insurance"> Terms of Business </a>
          <a href="/Fair-Processing-Notice" class="dropdown-item" title="Fair Processing Notice for Pet Insurance"> Fair Processing Notice </a>
          <a href="/FAQ's" class="dropdown-item" title="FAQ's for Pet Insurance"> FAQ's </a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="d-none d-md-block nav-item nav-link dropdown-toggle" id="" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Existing Clients</a>
        <div class="dropdown-menu" aria-labellby="">
          <a href="/Renewal-Area" class="dropdown-item" title="Renewal Area for Pet Insurance"> Renewal Area </a>
          <a href="/Make-a-Claim" class="dropdown-item" title="Make a Claim for Pet Insurance"> Make a Claim </a>
          <a href="/Add-a-Pet" class="dropdown-item" title="Add a Pet for Pet Insurance"> Add a Pet </a>
          <a href="/Change-Address" class="dropdown-item" title="Change Address for Pet Insurance"> Change Address </a>
          <a href="/Contact-Us" class="dropdown-item" title="Contact Us for Pet Insurance"> Contact Us </a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="d-none d-md-block nav-item nav-link dropdown-toggle" id="" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">About Us</a>
        <div class="dropdown-menu" aria-labellby="">
          <a href="/Company-Information" class="dropdown-item" title="Company Information for Pet Insurance"> Company Information </a>
          <a href="/Underwriting" class="dropdown-item" title="Underwriting for Pet Insurance"> Underwriting </a>
          <a href="/FCA--TCF" class="dropdown-item" title="FCA &amp; TCF for Pet Insurance"> FCA &amp; TCF </a>
          <a href="/Awards--Accreditations" class="dropdown-item" title="Awards &amp; Accreditations for Pet Insurance"> Awards &amp; Accreditations </a>
          <a href="/Testimonials" class="dropdown-item" title="Testimonials for Pet Insurance"> Testimonials </a>
          <a href="/news/news_category.numo?tC=Press" class="dropdown-item" title="Press Office for Pet Insurance"> Press Office </a>
          <a href="/White-Label-Opportunities" class="dropdown-item" title="White Label Opportunities for Pet Insurance"> White Label Opportunities </a>
          <a href="/Woodland-Trust" class="dropdown-item" title="Woodland Trust for Pet Insurance"> Woodland Trust </a>
       </div>
      </div>
      <div class="dropdown">
        <a href="#" class="d-none d-md-block nav-item nav-link dropdown-toggle" id="" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Exotice Pets</a>
        <div class="dropdown-menu" aria-labellby="">
          <a href="/Parrot-Insurance" class="dropdown-item" title="Parrot Insurance for Pet Insurance"> Parrot Insurance </a>
          <a href="/Reptile-Insurance" class="dropdown-item" title="Reptile Insurance for Pet Insurance"> Reptile Insurance </a>
          <a href="/Rabbit-Insurance" class="dropdown-item" title="Rabbit Insurance for Pet Insurance"> Rabbit Insurance </a>
          <a href="/Tortoise-Insurance" class="dropdown-item" title="Tortoise Insurance for Pet Insurance"> Tortoise Insurance </a>
        </div>
      </div>
      <a href="#" class="d-block d-md-none nav-item nav-link">Claims</a>
      <a href="#" class="nav-item nav-link">Contact Us</a>
    </div><!-- navbar-nav -->

    <div class="navbar-nav">
      {% if page | trim == 'home' %}
      <a href="/retrieve-a-quote.html" class="btn btn-lg btn-cta rounded-0" role="button">Get a quote</a>
      {% endif %}
    </div><!-- navbar-nav -->
  </div><!-- container -->
</nav>

{% endmacro %}