{% macro info(data) %}
  <!-- Modal -->
  <div class="modal fade cover-info-modal mt-4 pr-3" tabindex="-1" role="dialog" aria-labelledby="cover-info-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body mb-0 pb-0">
          <span class="cover-info__modal-intro">{{ data.cover }} {{ data.price }}</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <small>close</small>
            <span aria-hidden="true"> &times;</span>
          </button>

        </div>
        <div class="modal-header cover-info__modal-header">
          <h5 class="modal-title cover-info__modal-title" id="cover-info__modal-title">Death from Accident</h5>
        </div>
        <div class="modal-body cover-info__modal-body">
          <p>The purchase price of your pet up to a maximum of £1,000 if it dies or in the event of humane destruction by a vet to alleviate incurable and inhumane suffering following an illness or disease.</p>
          <p>Exclusions:</p>
          <p>If no purchase receipt is available, replacement cost will be that of a similar pet.</p>
          <p>Any claims for a pet under age of six weeks.</p>
          <p>Any claim if the death results from an injury that happened before your pet’s cover started.</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}