{% macro nextStep(linkName='Next', link='') %}

{% if link == 'your-details' %}
  {% set link = 'your-details.html' %}

{% elif link == 'your-quote' %}
  {% set link = 'your-quote.html' %}

{% elif link == 'pet-details-complete' %}
  {% set link = 'pet-details-complete.html' %}

{% elif link == 'pet-details-other' %}
  {% set link = 'pet-details-other.html' %}

{% elif link == 'calculate-quote' %}
  {% set link = 'your-quote.html' %}

{% elif link == 'policy-summary' %}
  {% set link = 'policy-summary.html' %}

{% else %}
  {% set link = 'your-quote.html' %}

{% endif %}

<a class="btn btn-primary btn-primary--alt btn-block rounded-0 mt-4" href="/{{ link }}" style="text-decoration:none;">{{ linkName }}</a>

{% endmacro %}