{% macro activeStep(activeStep='pet-details') %}

{% if activeStep == 'pet-details' %}
  {% set petDetails = 'progressbar__step--active' %}
  {% set yourDetails = '' %}
  {% set yourQuote = '' %}
{% elif activeStep == 'your-details' %}
  {% set petDetails = 'progressbar__step--done' %}
  {% set yourDetails = 'progressbar__step--active' %}
  {% set yourQuote = '' %}
{% elif activeStep == 'your-quote' %}
  {% set petDetails = 'progressbar__step--done' %}
  {% set yourDetails = 'progressbar__step--done' %}
  {% set yourQuote = 'progressbar__step--active' %}
{% else %}
  {% set petDetails = 'progressbar__step--done' %}
  {% set yourDetails = 'progressbar__step--done' %}
  {% set yourQuote = 'progressbar__step--done' %}
{% endif %}

<ul class="progressbar clearfix">
  <li class="progressbar__step {{ petDetails }}"><span>Pet details</span></li>
  <li class="progressbar__step {{ yourDetails }}"><span>Your details</span></li>
  <li class="progressbar__step {{ yourQuote }}"><span>Your quote</span></li>
</ul>

{% endmacro %}