{% macro nextStep(linkName='Next', link='') %}

{% if link == 'pet-details' %}
  {% set newUrl = 'pet-details.html' %}

{% elif link == 'pet-details-other' %}
  {% set newUrl = 'pet-details-other.html' %}

{% elif link == 'pet-details-complete' %}
  {% set newUrl = 'pet-details-complete.html' %}

{% elif link == 'your-details' %}
  {% set newUrl = 'your-details.html' %}

{% elif link == 'your-quote' %}
  {% set newUrl = 'your-quote.html' %}

{% elif link == 'policy-summary' %}
  {% set newUrl = 'policy-summary.html' %}

{% elif link == 'policy-details' %}
  {% set newUrl = 'policy-details.html' %}

{% elif link == 'payment-default' %}
  {% set newUrl = 'payment-default.html' %}

{% elif link == 'payment-complete' %}
  {% set newUrl = 'payment-complete.html' %}

{% else %}
  {% set newUrl = 'index.html' %}

{% endif %}

<button class="btn btn-primary btn-primary--alt btn--block rounded-0" type="submit" data-href="{{ newUrl }}" style="text-decoration:none;">{{ linkName }}</button>

{% endmacro %}