/**
  * @desc UI components, building blocks that we use on the page, self contained
  *       e.g.: lists, media box,
          contains business logic
  * @author Neil Symester neil.symester@towergate.co.uk
  */

// @group Feefo rating

.rating > span {
  display: inline-block;
  position: relative;
  color:gold;
  font-size:calc(3rem - 50%);
  width:auto;
  height:auto;
  line-height:calc(2.5rem - 50%);
}

.rating__value{
  margin-left:10px;
  line-height: calc(2.7rem - 50%);
  color: rgba(21,41,53,1);
  font-family: Helvetica;
  font-size:calc(2.25rem - 50%);
  font-weight: bold;
  display:inline;
}

.rating__reviews{
  color: rgba(21,41,53,1) !important;
  font-family: Helvetica;
  font-size: calc(24px - 50%);
  line-height: calc(29px - 50%);
}

// @group progressbar

.progressbar {
  margin-left:0;
  padding-left:0;
  display:flex;
  justify-content: space-evenly;


  li {
    list-style-type:none;
    position: relative;
    text-align: center;
    flex: 1 0 35%;

    &:first-child {
      //padding-left:0;
    }

    span {
      color: rgba(61,112,178,1);
      font-family: "Open Sans";
      font-size: calc(23.66px - 50%);
      font-weight: 300;
      line-height: calc(30px - 50%);
      opacity: 0.5;
      color: rgba(90,104,114,1);
    }

    // bullet points
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      border: 2px solid rgba(90,104,114,1);
      display:block;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%;
      line-height: 23px;
      color: rgba(61,112,178,1);
      background-color: #fff; // set to white to hide the line
    }

    // line between bullet points
    &:after {
      content:'';
      position: absolute;
      width:100%; // line width
      height:3.38px; // line height
      background-color: rgba(140,155,165,1);
      top: 15px; // center line
      left: -50%; //move the line behind the bullet
      z-index: -1; // move the line behind the bullet point
    }

    &:first-child:after {
      content:none;
    }

    // active step
    &.active{
      span {
        color: rgba(61,112,178,1);
        opacity: 1;
      }
      &:before {
        content: '\02b24';
        border: 2px solid rgba(61,112,178,1);
      }
    }

    &.complete {
      span {
        color: rgba(61,112,178,1);
        opacity: 1;
      }
      &:before {
        content: '\02713';
        border: 2px solid rgba(61,112,178,1);
      }
    }
  }
}

.card--deal{
  border-left: 5.15px solid rgba(90,167,0,1) !important;
}

.card--notification {
  width:97%;
  border-left: 5px solid rgba(90,170,250,1) !important;
}

.card-body--notification {
  color: rgba(90,104,114,1);
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 20px;

  ul li {
    font-family: inherit;
    font-weight:100;
  }
}

.card--pet-details {
  padding: 2rem;
  h5 {
    color: rgba(90,104,114,1);
    font-weight: 100;
    font-size: 1.15rem;
    word-spacing:3px;
  }

  a {
    font-size: 0.7rem;
    color: rgba(61,112,178,1);
    font-weight: 600;
  }
}

.card-action {
  display:flex; 
  flex-flow:row nowrap; 
  justify-content:space-between;
}
// @group section header

section h2 {
  font-weight: 300;
  color: rgba(0,59,92,1);
  font-family: 'Open Sans';
  font-size: calc(30px - 50%);
  line-height: calc(57px - 50%);
}

// @group header colours 

.bg-header{
  background-color: rgba(28,129,182,1) !important;
}

.bg-sub-header{
  background-color: rgba(55,148,193,1) !important;
}

// @group radio buttons

input[type=radio].form-check-input--box {
  display: none;
  &:checked {
    + .radio-box {
      background-color: rgba(85,150,230,1);
      border-color: rgba(85,150,230,1);

      span {
        color:#fff;
      }
    }
  }
}

.form-check-radio--icon{
  max-width: 294px;
  width:100%;
  height: 55px; //108px;

  &:last-child {
    margin-right: 0;
  }
}

.form-check-radio {
  max-width: 294px;
  width:100%;
  height: 42px;

  &:last-child {
    margin-right: 0;
  }
}

.radio-box {
  height:100%;
  width:100%;
  border: 2px solid rgba(61,112,178,1);
  background-color: rgb(255, 255, 255);
  transition: all 250ms ease;
  will-change: transition;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Open Sans";
  color: rgba(61,112,178,1);
  &:active{
    transform: translateY(10px);
  }

  // style the radio buutton label
  span {
    position: absolute;
    transform: translate(0, 30px);
    left: 0%;
    right: 0%;
    //transition: all 300ms ease;
    font-size: 0.85em;
    user-select: none;
    //color: rgba(61,112,178,1);
    display:inline-block;
    bottom: 32px;
    line-height: 36px;
    font-weight: 600;

    &:before {
      position: absolute;
      left: 30px;
      top: 3px;
      //content: url(/images/dog.png);
      content:" ";
      background-repeat:no-repeat;
      //font-size: 1.2em;
      //font-family: FontAwesome;
      display: inline;
      //transform: translateY(-80px);
      //transition: all 300ms ease-in-out;
      //font-weight: normal;
      color: rgba(61,112,178,1);
      background-size: 60% 60%;
      width: 60px;
      height: 50px;
    }
  }
}

.radio-box--icon {
  @extend .radio-box;

  span {
    right: -20%;
    bottom: 38px;
  }
}

#pet-type-dog + .radio-box span:before {
  background-image:url(/images/dog.png);
}

#pet-type-dog:checked + .radio-box span:before {
  background-image:url(/images/dog-inverse.png);
}

#pet-type-cat + .radio-box span:before {
  background-image:url(/images/cat.png);
}

#pet-type-cat:checked + .radio-box span:before {
  background-image:url(/images/cat-inverse.png);
}

.dog-weight {
  top:32px;
  left: 21px;
  position: relative;
}

#small-dog + .radio-dog-size span:before {
  background-image:url(/images/small-dog.png);
}

// @group buttons

.btn-cta {
  color: rgba(255,255,255,1);
  background-color: rgba(244,121,29,1);
  border-color: rgba(244,121,29,1);
}

.btn-primary--alt {
  height: calc(80px - 50%);
  color: rgba(255,255,255,1);
  font-family: "Open Sans";
  font-size: calc(24px - 50%);
  font-weight: 200;
  line-height: calc(38px - 50%);
  text-align: center;
  background-color: rgba(61,112,178,1);
}

.btn-outline-primary--alt {
  height: calc(80px - 50%);
  color: rgba(61,112,178,1);
  font-family: "Open Sans";
  font-size: calc(24px - 50%);
  font-weight: 600;
  line-height: calc(32px - 50%);
  text-align: center;
  border: 2px solid rgba(61,112,178,1);

  &:hover {
    color: rgba(255,255,255,1);
    background-color: rgba(61,112,178,1);
    border-color: rgba(61,112,178,1);
  }
}

.form__help {
  display:block;
  color: rgba(61,112,178,1);
  font-weight:100;
  font-size: 0.85rem;
}

.form-check-flex {
  display:flex; 
  justify-content:space-between;
}

.btn-block {
  widt:100%;
}

.pill--condition{
  background-color: rgba(61,112,178,1);
  color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 5px 10px;
  display:inline-block;

  .close {
    cursor: pointer;
    color:#fff;
    text-decoration:none;
    padding-left:5px;
  }
}

.postcodes a {
  display:block;
  padding-bottom:5px;
  border-bottom: 1px solid rgba(223,227,230,1);
  cursor: pointer;
}

.card--cover {
  width: 100%;
}

.card--cover-lifetime {
  border-top: 4px solid rgba(245,166,35,1);
}

.card--cover-maximum {
  border-top: 4px solid rgba(126,211,33,1);
}

.card--cover-accident {
  border-top: 4px solid rgba(208,2,27,1);
}


.cover__price {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cover__header {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}