/**
  * @desc basic tag styles (HTML elements)
  *       e.g.: sub and sup should be the same everywhere
  * @author Neil Symester neil.symester@towergate.co.uk
  */

body {
  background-color: $bg-body-colour;
  font-size: 16px;
  font-family: $base-font !important;

  @include media-breakpoint-up(md) {
    background-color: $bg-body-colour--alt;
  }
}

.h2 {
  color: rgba(0,59,92,1);
  font-family: $base-font;
  font-size: 25px;
  font-weight: 400;
  line-height: 57px;
  margin-bottom:5px;
}

// @group section header

section h2 {
  font-weight: 400;
  color: rgba(0,59,92,1);
  font-family: $base-font;
  font-size: 25px;
  line-height: calc(57px - 50%);
  margin-bottom:10px;
}

a {
  color: rgba(61,112,178,1);
  font-weight: normal;
  text-decoration: underline;
}

legend {
  display: none;
}
