/**
  * @desc basic tag styles (HTML elements)
  *       e.g.: sub and sup should be the same everywhere
  * @author Neil Symester neil.symester@towergate.co.uk
  */

body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Open Sans' !important;
}