/**
  * @desc override existing selectors, though try and generalise so as to extract
  *       the specific override and add it to either components or objects or somewhere,
  *       includes quick fixes, hot fixes
  *       - clearfix
  *       - utilities
  *       - ie8
  * @author Neil Symester neil.symester@towergate.co.uk
  */

// @ navigation overrides

.navbar-bright .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
  text-decoration:none;
}

// @group form field overrides

input.form-control, select.form-control {
  background-color: $bg-input-colour;
  color: rgba(90,104,114,1);
  font-family: $base-font;
  font-size: 20px;
  line-height: 29.5px;
  border:0;

  &:focus {
    background-color: $bg-input-colour;
    border-color: $bg-input-colour;
  }
}

input[type=text].form-control {
  height: calc(80px - 50%);
}

input[type=date].form-control {
  height: 45px;
  font-size: 13px;
  font-weight: 300;
}

input[type=number].form-control {
  height: 44px;
}

input[type=radio] + label {
  font-weight: 300;
  font-size: 1rem;
}

select.form-control {
  font-size:0.9rem;
  height:50px;
  top: -10px;
  position: relative;
}

.form__input--short {
  flex: 0 1 40% !important;
}

.form-control--ccv {
  width:20%;
}

.form-control--alt {
  flex: 0 1 45% !important;
}

.input-group-prepend--date{
  margin-right: 0;
  border: 0;

  .input-group-text {
    background-color: $bg-input-colour;
    border: 0;
    height:50px;
  }
}

.input-group-prepend--currency {
  margin-right: 0;
  border: 0;

  .input-group-text {
    background-color: $bg-input-colour;
    border: 0;
    height:44px;
  }
}

label.form-control-label {
	height: calc(36px - 50%);
	color: rgba(21,41,53,1);
	font-family: $base-font;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.5rem;
}

.form-check-input--alt {
  bottom: -10px;
  left: 20px;
}

.form-check--alt {
  padding-left: 0;
}

.form-group--alt {
  margin-right:-15px;
  margin-left:-15px;
  padding-bottom:0!important;
}

.form-group--sortcode {
  justify-content: flex-start;
  input {
    width: 15%;
    margin-right:10px;
  }
}

// @group modal overrides
.modal-header--alt {
  border-bottom:0;
  padding-top:0;
}

.modal-title--alt {
  font-size: 1.7rem;
}

.modal-body {
  p {
    color: rgba(21,41,53,1);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  small {
    font-size:1rem;
    position:relative;
    top:-4px;
  }
}

.w-70 {
  width: 70% !important;
}

.btn--outline {
  background-color: rgba(255,255,255,0);
  border-color: $primary-colour;
  color: $primary-colour;
  font-size: 15px;
  font-weight: 600;
}

.list-group--content .list-group-item {
  text-decoration: none;
}

.img__calendar{
  height:20px;
}
