/**
  * @desc override existing selectors, though try and generalise so as to extract
  *       the specific override and add it to either components or objects or somewhere,
  *       includes quick fixes, hot fixes
  *       - clearfix
  *       - utilities
  *       - ie8
  * @author Neil Symester neil.symester@towergate.co.uk
  */

// @ navigation overrides

.navbar-bright .navbar-nav .nav-link {
  color: var(--menu-text-colour);
  text-decoration: none;
}

// @group form field overrides

input.form-control,
select.form-control {
  background-color: var(--input-bg-colour);
  color: rgba(90, 104, 114, 1);
  font-family: $base-font;
  font-size: 20px;
  line-height: 29.5px;
  border-color: rgba(61, 112, 178, 0.1);

  &:focus {
    background-color: var(--input-bg-colour);
    border-color: var(--input-bg-colour);
  }
}

.custom-select {
  background-color: var(--input-bg-colour);
  color: rgba(90, 104, 114, 1);
}

input[type="text"].form-control {
  height: 46px;
}

input[type="date"].form-control {
  height: 46px;
  font-size: 14px;
  font-weight: normal;
  padding-right: 0;
}

input[type="number"].form-control {
  height: 46px;
}

input[type="radio"]+label {
  font-weight: 300;
  font-size: 1rem;
}

select.form-control {
  font-size: 0.9rem;
  height: 46px;
  // top: -10px;
  position: relative;
}

.form__input--short {
  flex: 0 1 40% !important;

  @include media-breakpoint-up(sm) {
    flex: 0 1 150px !important;
  }
}

.form-control--ccv {
  width: 20%;
}

.form-control--alt {
  flex: 0 1 45% !important;
  margin-right: 1rem;

  @include media-breakpoint-up(sm) {
    flex: 0 1 191px !important;
    // margin-right: 0;
  }
}

.input-group-append--date,
.input-group-prepend--date {
  margin-right: 0;
  border: 0;
  height: 46px;

  .input-group-text {
    background-color: var(--input-bg-colour);
    border-top: 1px solid var(--input-bg-colour);
    border: 0;
    height: auto;
  }
}

.input-group-prepend--currency {
  margin-right: 0;
  border: 0;

  .input-group-text {
    background-color: var(--input-bg-colour);
    border: 0;
    height: 46px;
  }
}

label.form-control-label {
  height: calc(36px - 50%);
  color: var(--form-label-colour);
  font-family: $base-font;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5rem;
}

.custom-radio--image {
  padding-left: 0;

  .custom-radio-input--image {
    bottom: -10px;
    left: 20px;
  }

  .custom-control-label {
    &:before {
      top: unset;
      left: 0.5rem;
      bottom: -1rem;
    }

    &:after {
      top: unset;
      left: 0;
      bottom: -1.5rem;
    }
  }
}

.form-group--alt {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 0.5rem !important;
  margin-bottom: 0;

  @include media-breakpoint-up(xl) {
    padding-bottom: 0 !important;
    margin-bottom: 0;
  }
}

.form-group--sortcode,
.form-group--account-number {
  justify-content: flex-start;
  flex-flow: wrap;

  input {
    width: 50px;
    margin-right: 10px;
  }
}

.form-group--account-number input {
  width: 75px;
}

// don't show the input element for custom controls
.custom-control {
  // padding-left: 0;

  &-label {
    &:before {
      display: none;
    }
  }
}

.was-validated .custom-control-input:invalid~.custom-control-label {
  border: 2px solid #dc3545;
}

// @group modal overrides
.cover-info-modal {
  &__modal-header {
    border-bottom: 0;
    padding-top: 0;
  }

  &__modal-title {
    font-size: 1.7rem;
  }

  .modal-body {
    p {
      color: rgba(21, 41, 53, 1);
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5rem;
    }

    small {
      font-size: 1rem;
      position: relative;
      top: -4px;
    }
  }
}

.w-70 {
  width: 70% !important;
}

.btn--outline {
  background-color: rgba(255, 255, 255, 0);
  border-color: var(--primary-colour);
  color: var(--primary-colour);
  font-size: 15px;
  font-weight: 600;
}

.list-group--content .list-group-item {
  text-decoration: none;
}

.img__calendar {
  height: 20px;
}

.custom-control-label:after {
  opacity: 0;
}

.container--md {
  max-width: 925px;
  // width: 925px;
}

.container--lg {
  width: 1124;
}

.navbar-brand {
  z-index: 1;
}

.call-text {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--menu-text-colour);

  @include media-breakpoint-up(md) {
    // margin-top: 2rem;
    font-size: 2rem;
  }
}

.bg-sub-header .navbar-nav .nav-item {
  text-transform: lowercase;

  @include media-breakpoint-up(md) {
    text-transform: uppercase;
    padding: 16px 1rem;
  }
}

.phone-number {
  font-size: 1.5rem;
  padding-right: 0;
  padding-left: 0;

  @include media-breakpoint-up(md) {
    // margin-top: 2rem;
    font-size: 2rem;
  }
}

.login {
  margin-top: 0.2rem;
  margin-right: -15px;

  label.form-control-label {
    margin-right: 0px;
    background-color: var(--cta-colour);
    padding: 0 5px;
    height: 25px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  input.form-control-input {
    height: 25px;
    font-size: 0.8rem;
    border-radius: 0;
    width: 140px;
    border: 0;
    padding: 0 5px;
    color: black;
  }

  form input:nth-child(2) {
    margin-right: 2px;
  }

  .btn {
    height: 25px;
    padding: 0 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 5px;
    border: 0;
    border-radius: 0;
    background-color: var(--cta-colour);
    color: white;
    text-transform: uppercase;
  }
}

.navbar-nav .dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  top: 50px;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0.5rem 0 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.dropdown-item {
  text-decoration: none;
  border-bottom: 1px solid #b9d6dc;
  background-color: #fff;

  &:hover {
    background-color: #1e8cbe;
    color: #fff;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}